.Cart{
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90vw;
  max-width: 960px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
}

.Cart-header {
  margin: 0;
  height: 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.Cart-close-button {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}

.Cart-line{
  padding-top: 58px;
  border-bottom: 1px dashed #ccc;
}

.Cart-footer{
  display: flex;
  justify-content: flex-end;
  padding-right: 90px;
  font-weight: 700;
}

.Cart-footer-total{
  width:11%;
  padding: 20px;
}

.Cart-footer-amount{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
}
