.CartItem {
  display: flex;
}

.CartItem-code {
  padding: 20px 10px 20px 20px;
}

.CartItem-title {
  width: 100%;
  padding: 20px 10px;
}

.CartItem-cost{
  text-align: right;
  width: 100%;
  padding: 20px;
}

.CartItem-count{
  text-align: right;
  width: 20%;
  padding: 20px 10px 20px 20px;
}

.CartItem-actions {
  display: flex;
  justify-content: flex-end;
  padding: 20px 20px 20px 10px;
}


