.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.Controls-in-cart{
  padding-left: 10px;
  font-weight: 700;
}

.Controls-actions {
  padding-left: 20px;
}

.Controls-actions button{
  width: 80px;
  max-width: 100%;
}
